# Android
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/build/
/android/local.properties

# iOS
/ios/Flutter/.last_build_id
/ios/Pods/
/ios/Podfile.lock
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
